<div class = "booyah-box col-xs-10 col-xs-offset-1">
	<h2 class = "subheader">All Recipes</h2>
	<br />
	<% @allrecipes.each do |recipe| %>
		<div class = "booyah-box col-xs-10 col-sm-5 col-xs-offset-1">
			<h2 class = "recipe-name"><%= link_to recipe.name, recipe_path(recipe) %></h2><br>

			<div class = "pull-right">
				<em>Average Rating: <%= recipe.avg_rating %></em>
			</div>
			
			<%= recipe.description %></br>
			
			<div class = "pull-right"
				<% if recipe.user.present? %>
					<small><%= recipe.user.email %></small>
				<% end %>
			</div>

		</div>
	<% end %>
</div>